.Katalog {
  width: 100%;
  height: 450px;
  display: flex;
  position:fixed;
  top: 230px;
  z-index: 2;
  background: white;
}
.Katalog-left {
  width: 30%;
  max-height: 450px;
  /* background-color: rgb(123, 140, 155); */
  padding: 20px;
  overflow: auto;
}
.Katalog-left p {
  font-size: 20px;
  /* background-color: gray; */
  padding: 10px 10px;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px;
}
.Katalog-left p:hover {
  background: rgb(143, 135, 252);
}
.Katalog-left h2 {
  color: rgb(220, 0, 0);
  border: 2px solid rgb(220, 0, 0);
}
.Katalog-right {
  width: 70%;
  max-height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  overflow: auto;
  padding: 30px;
}
.Katalog-right p {
  width: max-content;
}
.span {
  padding: 5px;
}
.group {
  width: max-content;
  background-color: none;
  border: 2px solid black;
  padding: 12px 35px;
  border-radius: 10px;
  cursor: pointer;
}
.img1 {
  width: 102px;
}
.img2 {
  width: 30px;
  height: 30px;
}
.Catalog {
  width: 100%;
  height: 100px;
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 0 50px;
  position: relative;
}
.Catalog input {
  width: 700px;
  height: 50px;
  border: none;
  background: rgb(241, 241, 241);
  border-radius: 10px;
}
.Catalog .img3 {
  width: 75px;
  background-color: rgb(220, 0, 0);
  padding: 10px 25px;
  position: absolute;
  border-radius: 10px;
  right: 485px;
}
.imgdiv1 {
  text-align: center;
}
.Catalog input::placeholder {
  padding-left: 30px;
  font-size: 18px; 
} 