.search{
    width: 70%;
    height: 40px ;
    background-color: rgb(255, 255, 255);
    margin: 30px auto;
    border-radius: 10px;
}
.search input{
    outline: none;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    border:1px solid grey;

}
@media (max-width:1200px){
  .Cardlist{
    width: 100%;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px ;
    gap: 25px;
  }
  
}
@media (max-width:900px){
    .Cardlist{
    width: 100%;
    display: grid;
    grid-template-columns: 197px 197px 197px 197px ;
    gap: 15px;
    justify-content: center;
  
  }
    .Cardlist .card{
    width: 197px;
  }
   .img_wrapper>img{
    width: 150px;
    height: 150px;
  }
  .Cardlist>div .card-botton2{
    padding: 10px 30px;
  }
}

@media (max-width:632px){

      .Cardlist{
    width: 100%;
    display: grid;
    grid-template-columns: 284px 284px;
    gap: 15px;
    justify-content: center;
  
  }
    .Cardlist .card{
    width:284px ;
  }
}
@media (max-width:480px){
        .Cardlist{
    width: 100%;
    display: grid;
    grid-template-columns: 208px 208px;
    gap: 15px;
    justify-content: center;
  
  }
    .Cardlist .card{
    width:208px ;
  }
}